<div class="col-lg-12">
 <div class="card mt-5 mb-5 rounded-0">
 <div class="card-body">
 <h2 class="text-center">Create New Document</h2>
 </div>
 </div>

<%= render 'form', document: @document %>

</div>